@tailwind base;
@tailwind components;
@tailwind utilities;

/* body,
html {
  overflow: hidden;
} */
@layer base {
    :root {
        --color-primary: 255 255 255;
        --color-secondary: 10 10 10;
        --color-tertiary: 99 99 99;
        --prev-color-primary: 99 99 99;
    }
}

@font-face {
    font-family: 'Birch Leaf';
    src: url('/fonts/BirchLeaf.ttf');
}

.no-select {
    user-select: none;
}
/* * {
    animation: bgcolor 250ms linear infinite alternate;
} */

@keyframes bgcolor {
    from {
        background-color: rgb(var(--prev-color-primary));
        color: rgb(var(--prev-color-primary));
    }
    to {
        background-color: rgb(var(--color-primary));
        color: rgb(var(--prev-color-primary));
    }
}

* {
    -webkit-font-smoothing: none;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
}

#bg {
    margin: 0px;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
}

/* #eyebox {
    z-index: -1;
    position: static;
    width: 150px;
    height: 150px;
} */

/* p,
span,
html {
  color: white;
} */

/* #eyebox {
    position: relative;
    z-index: 1;
} */

::-webkit-scrollbar {
    width: 0;
}

.transition-colors-manual {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}
